!color theme
#define mybg #383C4A
#define myfg #D3DAE3
#define myfont Hack
#define myfontsize 10
#define mypadding 20

!urxvt
URxvt*background:           mybg
URxvt*foreground:           myfg
URxvt*highlightColor:       myfg
URxvt*highlightTextColor:   mybg
URxvt*cursorColor:          myfg
URxvt*cursorColor2:         mybg
URxvt*font:                 xft:myfont:medium:size=myfontsize
URxvt*internalBorder:       mypadding
URxvt*scrollBar:            false

!Tabs
URxvt.perl-ext-common:      default,tabbed
URxvt.tabbed.tabbar-fg:     -2
URxvt.tabbed.tabbar-bg:     -1 
URxvt.tabbed.tab-fg:        -1
URxvt.tabbed.tab-bg:        -2 
