!color theme
#include "/home/scott/Themes/tomorrow_dark"

!urxvt
URxvt.visualBell:       true
URxvt.font:             xft:Hack:size=14
URxvt.scrollBar:        false

!pseudo-transparency
URxvt.transparent:      true
URxvt.shading:          20

